# Visual Studio & Windows build artifacts
.vs/
*.vcxproj.user
x64/
Debug/
Release/
*.obj
*.ilk
*.tlog
*.recipe
*.log
*.pdb
*.idb
*.exe
*.dll
*.lib

# CMake build outputs
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# macOS / Linux artifacts
.DS_Store
.directory
